.input {
    outline: none;

    input {
        border: none;
        border-bottom: 1px solid #D7DAE2;
        position: relative;
        bottom: 0;

        &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #D7DAE2;
        }
    }
}