.hero {
    position: relative;
    top: 40px;
    height: 600px;

    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 40px auto;
        align-items: center;
        height: 40px;
        width: 90vw;

        .search {
            color: #BCBCCB;
            display: flex;
    
            span {
                font-size: 20px;
                width: 20px;
                height: 40px;
                color: black;
            }
        }
    
        .all-todos {
            ul {
                border: 1px solid #D7DAE2; 
                list-style: none;
                display: flex;
                justify-content: space-between;
                width: 380px;

                button {
                    
                    padding: 10px 20px;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    color: #4D4F5C;

                    &:focus {
                        border: none;
                        outline: none;
                    }

                    &:last-child {
                        border-right: none !important;
                    }
                }
            }
        }
    }

    .legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        background: #F5F6FA 0% 0% no-repeat padding-box;;
        height: 40px;
        width: 90vw;
        margin: 0 auto;
        color: #4D4F5C;

        h4 {
            font-weight: 100;
            font-size: 15px;
            position: relative;

            &:first-child {
                left: 50px;
            }
            &:last-child {
                right: 120px;
            }
        }
    }

    .add {
        position: absolute;
        bottom: 50px;
       right: 50px;
        width: 50px;
        height: 40px;
        text-align: center;
        background: #3B86FF;
        border: none;
        color: #fff;
        cursor: pointer;

        &:hover {
            background: cornflowerblue;
        }
    }
    
}