.hero {
    position: relative;
    top: 100px;
    height: 500px;

    .note-input {
        position: absolute;
        top: -200px;
        left: 35%;
    }

    .legend {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        background: rgba(31, 30, 30, 0.336);
        height: 40px;
        width: 95%;
        margin: 0 auto;

        h4 {
            font-weight: 100;
            font-size: 15px;
        }
    }

    .add {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }
}