.header {

    .title {
        color: #43425D;
        margin-left: 40px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
        align-items: center;
        height: 40px;

        .search {
            color: #BCBCCB;
            display: flex;
    
            span {
                font-size: 20px;
                width: 20px;
                height: 40px;
                color: black;
            }
        }
    
        .all-todos {
            ul {
                border: 1px solid #D7DAE2; 
                list-style: none;
                display: flex;
                width: auto;

                li {
                    
                    padding: 10px 20px;
                    border-right: 1px solid #D7DAE2;

                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }
}