.add-todo {
   position: absolute;
   width: 98vw;
   height: 100vh;
   top: -120px;
   left: 0;
   right: 0;
   bottom: 0;
   background: #FFFFFFB3 0% 0% no-repeat padding-box;
   z-index: 99;
   display: flex;
   align-items: center;
   justify-content: center;

    form{
        width: 400px;
        height: 150px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 15px #0000001A;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;

        input, textarea {
            border: none;
            border-bottom: 1px solid #BCBCCB;
            background: transparent;
            margin-bottom: 5px;
        }

        input:focus, textarea:focus {
            outline: none;
            border: none;
            border-bottom: 1px solid #000;
        }

        input[type='radio'] {
            margin-left: 15px;
        }

        .footer {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;

            .button {
                display: flex;
                justify-content: space-between;
                width: 100%;

                button {
                    width: 50px;
                    height: 40px;
                    text-align: center;
                    background: #3B86FF;
                    border: none;
                    color: #fff;
                    cursor: pointer;

                    &:hover {
                        background: cornflowerblue;
                    }
                }

                .esc {
                    background: #43425D 0% 0% no-repeat padding-box ;
                    width: 60px;

                    &:hover {
                        background: rgba(67, 66, 93, 0.801) 0% 0% no-repeat padding-box ;
                    }
                }
            }
        }
    }
}